
<head>
  

    <style type="text/css">

        body{
        background-image: url(https://tenovi.net/public/upload/images/2017/11/30/thay-ao-desktop-voi-bo-137-anh-nen-don-gian-va-ngo-nghinh_2_18.png);
    }
    </style>
  
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="/media/images/soundmanagerv297a-20170601/script/soundmanager2.js"></script>
    <title>{% block title %} Watch Channel  {% endblock %}</title>
  </head>


  <nav class="navbar navbar-expand-lg navbar-dark  bg-dark"  >
    <a class="navbar-brand" href="/">MusicBeats</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" >
          <a class="nav-link" href="/"> Trang Chủ <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/songs/">Bài Hát</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/rank/">Bảng Xếp Hạng</a>
        </li>
        </ul>
        </div>
   </nav>

{% block body %}
    <h2 style="text-align: center; padding-top: 2; color: red ;"> Channel: {{ channel.name }} </h2>

<body>
<div class="container">

    {% if song_channel|length < 1 %} <h3 style="text-align: center; padding-top: 5%;">Bạn Chưa thêm bài hát nào !!!</h3>
    {% endif %}
    {% for i in song_channel  %}
    <div class="card mb-3" style="max-width: 540px; padding-top: 3%;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ i.image.url }}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ i.name }}</h5>
                        <input type="hidden" name="music_id" value="{{ i.song_id }}">
                    <a href="/song_channel/{{ i.song_id }}"><button class="btn btn-outline-danger">Listen Song </button></a>
                </button></a>
                <a href="/delete_channel/{{ i.song_id }}"><button class="btn btn-outline-danger">Delete
                </button></a>
                   
        
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

</body>